<div>
<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
<fieldset ngModelGroup="login111">
  <input type="text" [(ngModel)]="username1" 
    
    name="username2"
    required
    minlength="3"
    #usernameRef1="ngModel" />
    
  <div *ngIf="usernameRef1.errors?.required">required</div>
  <div *ngIf="usernameRef1.errors?.minlength">至少3个字符</div>

  <input type="password" [(ngModel)]="password1" 
    name="password2"
    required
    #passwordRef1="ngModel" />

  <div *ngIf="passwordRef1.errors?.required">required</div>

  <button type="submit">Login</button>
</fieldset>
</form>
</div>